# Ollama Configuration
OLLAMA_API_URL=http://127.0.0.1:11434
DEFAULT_OLLAMA_MODEL=
AI_RESPONSE_MAX_TOKENS=1200

# SearXNG Configuration
SEARXNG_API_URL=http://127.0.0.1:8888

# Client-side environment variables (prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_OLLAMA_API_URL=${OLLAMA_API_URL}
NEXT_PUBLIC_SEARXNG_API_URL=${SEARXNG_API_URL}
NEXT_PUBLIC_DEFAULT_OLLAMA_MODEL=${DEFAULT_OLLAMA_MODEL}
